    <!-- Newsletter -->
    <div class="container padded-container text-center">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get stylus news</p>
      <div class="row">
        <div class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="bob@gmail.com">
            <input type="submit" class="btn btn-primary" value="Subscribe">
          </div>
        </div>
      </div>
    </div>
